<div class="auth-window">
  <button (click)="closeWindow()">X</button>
  <form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="123456">
      <mat-error *ngIf="form.controls['password'].hasError('password') && !form.controls['password'].hasError('required')">
        Please enter password
      </mat-error>
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-stroked-button color="primary" (click)="login()">Login</button>
  <button mat-stroked-button color="primary" (click)="signUp()">SignUp</button>
  <button mat-stroked-button color="primary" (click)="signOut()">SignOut</button>
  <p *ngIf="error">Error: {{error}}</p>
</div>
